/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
.container-body {
	width: 100%;
}
header h1 {
	color: white;
	font-size: 2em;
	margin: 0;
}
.container {
	background-color: #540b51;
	margin: 5px;
	padding: 20px;
}

.container-main {
	margin:-5px 5px;
	
}

.nav-button button {
	background: none;
	border: none;
	height: 40px;
}

.image-hero {
	width: 100%;
}

@media (max-width: 768px) {
	.nav-header {
		width: 90%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 20px;
		align-items: center;@
	}

	.logo {
		display: flex;
		flex-direction: row;
	}

	.logo img {
		height: 30px;
	}
	.logo ul {
		display: none;
	}

	.companies {
		display: flex;
		flex-direction: column;
		text-align: center;
        height: 300px;
        justify-content: center;
        padding: 20px;
        background:#F3EAE2 ;
	}

	.companies p {
		font-size: 20px;
		text-transform: uppercase;
		font-weight: bold;
        margin-bottom: 40px;
	}

	.companies-images {
		text-align: center;
	}

	.companies-images img {
		height: 50px;
		margin: 10px 10px;
	}

	.nav-button button {
		height: 50px;
		margin: 10px;
	}

	header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	header h1 {
		font-size: 60px;
		text-align: center;
	}

	.container-header {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.container-header p {
		color: white;
		font-size: 30px;
	}

	.container-header p span {
		color: #ecb12f;
	}

	.header-button {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.header-button button:first-child {
		height: 70px;
		border-radius: 10px;
		margin: 5px 0;
		font-size: 20px;
		text-transform: uppercase;
		font-weight: bold;
		color: #540b51;
	}

	.header-button button:last-child {
		height: 70px;
		border-radius: 10px;
		margin: 5px 0;
		background-color: #4285f4;
		position: relative;
	}

	.header-button button img {
		position: absolute;
		top: 0;
		left: 0;
		width: 30px;
		background: white;
		margin: 5px;
		padding: 10px;
	}

	.header-button button span {
		font-size: 20px;
		text-transform: uppercase;
		font-weight: bold;
	}
}
